<div fxLayout="row"  fxLayoutGap="20px">
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>Line Chart</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-line-chart></app-line-chart>
      </mat-card-content>
    </mat-card>
  
    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>Column Chart</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-column-chart></app-column-chart>
      </mat-card-content>
    </mat-card>
  </div>
  
 
  